<h1> Welcome to <%=@project.title %>! </h1>

<% if @project.tasks.empty? %>
<%= "No current Tasks for Project"%>
<% else %>
<% @project.tasks.each do |task| %>
<%= task.description %> <%= task.user.username %> <%= task.complete %>
<%= link_to "EDIT", edit_task_path(task.id) %>
<% end %>
<% end %>

<%= link_to "Create Task", new_task_path %>
